*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.container{
    margin: auto;
    margin-top: 100px;
    max-width: 500px;
    border: 3px solid white;
    padding: 50px;
    min-height: 350px;
    border-radius: 10px;
    display: grid;
}

.container:hover{
    box-shadow: 4px 4px 20px white;
    transition: .3s all ;
}

.row{
    background-color: white;
    color:black;
    min-height: 300px;
    width: 100%;
    padding: 25px;
    max-width: 400px;
    margin: auto;
    display: flex;  
    flex-direction: column;
    border-radius: 10px;
}

.row h1{
    background-color: white;
    color:black;
    font-size: 40px;
}

.row input{
    margin: 10px 0;
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid black;
    outline: none;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}

.row button{
    width: 60%;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.row p{
    background:white;
    color: black;
    margin-top: 20px;
    font-size: x-large;
    font-weight: 600;
    animation: shake .2s ;
}

@keyframes shake{
    0%{
        transform: translateX(-2px);
    }
    25%{
        transform: translateX(2px);
    }
    50%{
        transform: translateX(-2px);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(-2px);
    }
}